@charset "UTF-8";
      body {
        background-color: rgb(131, 172, 172);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }  
    h1 {
        color: rgb(217, 217, 228);
        background-color: rgb(1, 6, 6);
    }
    h2 {
        color: rgb(28, 88, 173);
    }
    p {
        text-align: justify;
    }
 